[Unit]
Description=Unifi Gateway Custom System Dashboard Web Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=WORK_DIR
ExecStart=/usr/bin/python3 WORK_DIR/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
